//variables
$small: 700px;
$mid: 800px;
$medium: 900px;
$large: 1200px;
$xlarge: 1800px;

//mixins & placeholders
@mixin breakpoint($size) {
    @media (min-width: $size) {
      @content;
    }
  }

@import "reset";
@import "body";
@import "typography";
@import "./components/search-box";
@import "./components/card-list";